.project
.settings
.classpath
.DS_Store
**/.project
**/.classpath
**/.settings
**/*.iml
*.iml
target
**/app.override.aws.properties
**/app.override.alicloud.properties
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
